<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benutzer.washbayin" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:label="@string/title_activity_signup"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UserAPI.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activities.PriceListActivity"
            android:label="@string/title_activity_price_list" >
        </activity>
        <activity
            android:name=".UserAPI.ServiceHomeActivity"
            android:label="@string/title_activity_service_home" >
        </activity>
        <activity
            android:name=".activities.SelectOrderActivity"
            android:label="@string/title_activity_select_order" >
        </activity>
        <activity
            android:name=".activities.CommonOrder"
            android:label="@string/title_activity_common_order" >
        </activity>
        <activity
            android:name=".activities.SelectiveActivity"
            android:label="@string/title_activity_selective" >
        </activity>
        <activity
            android:name=".activities.BulkActivity"
            android:label="@string/title_activity_bulk" >
        </activity>
        <activity
            android:name=".activities.AddressActivity"
            android:label="@string/title_activity_address" >
        </activity>
        <activity
            android:name=".activities.BucketActivity"
            android:label="@string/title_activity_bucket" >
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
